
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

* {margin: 0;padding: 0;}

*{
  margin:0;
  padding:0;}
  
  a{ text-decoration:none;
   }
 ul,ol{list-style: none;}

 body{
   font-family: " NanumBarunGothic";
   font-size:15px;
   line-height:25px;


   color:#131212;text-align: center;
   min-width:1350px;}


/*header*/

#header{height: 80px; width:1320px; margin:0 auto; 
position: relative;/*로고포지션의 부모
기준*/ padding: 10px 0;}

 .logo{  float:left;    position: absolute; left: 50%; top: 30px;  transform: translateX(-50%)}/*가로길이의 절반만큼 앞으로 이동*/
.list1{float: right;}

 .list1 li{ float: left;padding: 10px; }
.list1 li a{ font-size: 13px ; color: #666;}
   




#nav{ clear: both; height: 54px; background:white; }
#navin{ width: 1320px ; margin: 0 auto; }

 #navin>ul>li{ float: left;  padding: 15px 0;  text-align: center; width: 20%; font-size: 18px; font-weight: bold;}
#navin>ul>li>a{ color:#1f0b02;}

.sub li a{display: block; padding: 10px 0; background: #744f49; opacity: 50%; color: #fff; font-size: 17px; font-weight: bold; border-top: 1px solid rgba(255,255,255, 0.3); border-bottom:1px solid rgba(0,0,0, 0.3) ;}
.sub li a:hover{ background: #fbf2ee; color: #744f49; opacity: 50%; transition: all 1s; }

.sub{ position: absolute; top: 54px; left: 0; width: 100%; z-index:10;}

#navin>ul>li{ position: relative; /*서브메뉴포지션기준*/}
.sub{ opacity: 0; transform: scaleY(0); transform-origin: top; /* 스케일의 기준점 변경 호버가 아니라 서브에 지정해야*/} /*투명도와 스케일속성으로 높이를 0으로 만들어 안보이개 한다*/
#navin>ul>li:hover>.sub{ opacity: 1; transform: scaleY(1); transition: all 1s;}





 #banner{ margin: auto; width: 1320px; height: 600px;}



 

.tit2{ font-size: 18px; text-align: center; padding: 0px 0 30px;}
.tit{ font-size: 35px;   text-align: center; padding: 80px 0 50px; }

p{ font-size: 16px;  text-align: left; }


#pc{ margin:0 auto; width: 1320px; height: 1000PX; margin-bottom: 100PX; background:url(images/bgfl.png) no-repeat center top; }

.left{ float: left;}
.right{ float: right;}

.pctext{ height: 360px; width: 680px; box-sizing: border-box; padding-left: 30px;}
.pctext2{ width: 586px; height: 360px;box-sizing: border-box; }
.pctext>h4{ padding: 80px 0 30px; text-align: left;}
.pctext>h2{ padding: 15px 0 20px; text-align: left;}
.pctext>h3{ padding-top: 80px 0 20px; text-align: left; font-size: 21px;}

.pctext2>h4{ padding-top: 80px; text-align: left;}
.pctext2>h2{ padding-top: 15px; text-align: left;}
.pctext2>h3{ padding: 80px 0 20px; text-align: left; font-size: 21px;}

.pcimgtext{ margin-bottom: 100px; background-color: #f6ede0;  height: 360px; }


#hg{ margin:0 auto; width: 1320px; height: 500px;  margin-bottom: 100PX; background:url(images/bgfl.png) no-repeat center top; }




#ch{ margin:0 auto; width: 1320px; height: 2300px;  margin-bottom: 100PX;  background:url(images/bgfl.png) no-repeat center top; }

.chimgtext{height: 500px;transition:all 0.3s;
	border-radius:20px; position:relative;
  display:inline-block; }



  .chimg img{max-width:100%; 
    display:block;}
    .chimg span.text{position:absolute;
      top:50%;
      left:0;
      transform:translateY(-50%);
      display:none;
      width:100%;
      font-size:30px;
      color:#fff;
      font-weight:bold;
      text-align:center;}
    .chimg::before, .banner::after{
      content:' ';
      position:absolute;
      top:50%;
      left:50%;
      width:95%;
      height:95%;
      transform:translate(-50%,-50%);
      transition:all 0.8s;}
    .chimg::before{border-top:2px solid #fff;border-bottom:2px solid #fff;
    width:0;}
    .chimg::after{border-left:2px solid #fff;border-right:2px solid #fff;
    height:0;}
    
    .chimg:hover span.text{display:block;}
    .chimg:hover::before{width:95%;}
    .chimg:hover::after{height:95%;}


 .chtext>h1{ font-size: 70px; font-weight:200; line-height: 120px;}
 .chtext h2{ font-size: 18px; font-weight: 500;  line-height: 24px;}
.chimg{ width: 680px; height: 410px; background-size: cover ; }
.chimg:hover{ transform:translateY(20px);
	box-shadow:5px 5px 10px rgba(0,0,0,0.3) }
.chtext{ width: 640px; height: 411px; text-align: left; box-sizing: border-box; padding: 100px 50px 0 50px;}




#footer{clear: both;
  background:#522b19;
  height:170px;
  
}

 
#footer_inner{
  width:1320px;
  margin:0 auto;
  padding-top: 30px;
}

.copyright ul li{
  float:left;
  padding-right:10px;
}
.copyright ul li a{
  color:#ccc;
}

.copyright li a:hover{
 color: #fff;
}

.copyright p{
  padding-top:20px;
  clear:both;
  color:#ccc;
}

.sns li{
  float:left;
  padding-left:5px;
  opacity:0.5;
}
.sns li:hover{
  opacity:1;
  transition:all 0.5s;
}

.copyright{
  float:left; padding-top: 20px;
}
.sns{
  float:right;
}
#footer_inner p{ clear: both; text-align: left; color: #fff; padding: 20px 0;}
